.container {
    width: 90%;
}

.container, .team {
    margin: 50px auto;
}

h1 {
    color: rgb(229, 49, 112);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 1000;
}

p {
    font-size: 20px;
    font-weight: 500;
}

header {
    text-align: center;
}

.card {
    background-color: black;
    color: white;
    width: calc((100% / 3) - 2%);
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 40%);
}

img {
    width: 30%;
}

.info {
    line-height: 40px;
    margin-left: 20px;
}

.left, .center, img, .info {
    float: left;
}

.right{
    float: right;
}

.team::after {
    content: "";
    display: table;
    clear: both;
}

.center {
    margin-left: 3%;
}

a {
    text-decoration: none;
    color: rgb(31, 196, 239);
}